@{
    var settings = SettingsManager.GetSettings<SiteSettings>();
}
@inject ISettingsManager SettingsManager
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - @settings.SiteName</title>
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/gtcore/css/gtcore.min.css" />
    @RenderSection("header", false)
</head>
<body class="mozskin customScrollBar @ViewBag.ClassName">
    @RenderBody()
    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/feather-icons/feather.min.js"></script>
    <script src="~/lib/gtcore/js/gtcore.min.js"></script>
    @RenderSection("footer", false)
    <gt:status-message-panel modal="true"></gt:status-message-panel>
    <form asp-antiforgery="true" id="ajax-protected-form"></form>
</body>
</html>
