@page
@model IndexModel
@{
    ViewBag.Title = "节点管理";
    ViewBag.Current = "pages.index";
    var index = 0;
    var count = Model.Items.Count() - 1;
}

<div class="card data-list">
    <div class="card-header toolbar">
        <div>
            <gt:action-group>
                <gt:action typeof="Add" asp-page="./create" asp-route-pid="@Model.CurrentPage.Id"></gt:action>
                <gt:action typeof="Delete" confirm="你确定要删除所选择节点吗？" asp-page-handler="Delete"></gt:action>
                <gt:action asp-page="../Pages/Index" .icon="fa-reply">返回</gt:action>
            </gt:action-group>
        </div>
    </div>

    <div class="card-body">
        <table class="table" .warning="Model.Items" .warning-text="还没有添加任何节点实例！">
            <thead>
                <tr>
                    <th class="checkbox"><gt:checkall></gt:checkall></th>
                    <th>唯一键</th>
                    <th>显示名称</th>
                    <th>添加时间</th>
                    <th>更新时间</th>
                    <th class="text-center">操作</th>
                </tr>
            </thead>
            <tbody class="fl-hide">
                @foreach (var item in Model.Items)
                {
                    var section = Model.GetSection(item.SectionType);
                    <tr class="data-item">
                        <td class="checkbox"><gt:checkbox value="@item.Id"></gt:checkbox></td>
                        <td>
                            @item.Name
                            <i .visible="item.Disabled" class="text-danger bi-lock" title="关闭"></i>
                        </td>
                        <td>
                            @item.DisplayName
                        </td>
                        <td>
                            @item.CreatedDate.ToString("yyyy-MM-dd HH:mm:ss")
                        </td>
                        <td>
                            @item.UpdatedDate?.ToString("yyyy-MM-dd HH:mm:ss")
                        </td>
                        <td>
                            <gt:action-dropdownmenu>
                                <gt:action typeof="Link" asp-page="./Edit" asp-route-id="@item.Id" icon="Pencil">编辑</gt:action>
                                <gt:action typeof="Link" .visible="@(!string.IsNullOrEmpty(section.EditUrl))" asp-page="@(section.EditUrl)" asp-route-id="@item.Id" icon="Gear">配置</gt:action>
                                <gt:action typeof="MoveUp" class="f-hide" asp-route-id="@item.Id" asp-page-handler="MoveUp"></gt:action>
                                <gt:action typeof="MoveDown" class="l-hide" asp-route-id="@item.Id" asp-page-handler="MoveDown"></gt:action>
                                <gt:action typeof="Divider"></gt:action>
                                <gt:action typeof="Delete" confirm="你确定要删除“@item.DisplayName" asp-page-handler="Delete" asp-route-id="@item.Id"></gt:action>
                            </gt:action-dropdownmenu>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>