@page
@model IndexModel
@{
    ViewBag.Title = "页面管理";
    ViewBag.Current = "pages.index";
}

<div class="card data-list">
    <div class="card-header toolbar">
        <form method="get">
            <gt:search asp-for="Query.Name" placeholder="请输入名称..."></gt:search>
        </form>
        <div class="actions">
            <gt:action-group>
                <gt:action typeof="Link" asp-page="./edit" icon="Plus">添加</gt:action>
                <gt:action typeof="Delete" confirm="你确定要删除所选择页面吗？" asp-page-handler="Delete"></gt:action>
            </gt:action-group>
        </div>
    </div>

    <div class="card-body">
        <table class="table" .warning="Model.Items" .warning-text="还没有添加任何页面实例！">
            <thead>
                <tr>
                    <th class="checkbox"><gt:checkall></gt:checkall></th>
                    <th>标题</th>
                    <th>唯一键</th>
                    <th>描述</th>
                    <th class="text-center">操作</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Items)
                {
                    <tr class="data-item">
                        <td class="checkbox"><gt:checkbox value="@item.Id"></gt:checkbox></td>
                        <td>
                            <a asp-page="../Sections/Index" asp-route-pid="@item.Id">
                                @item.Title
                                <i .visible="@item.Disabled" class="text-danger bi-lock" title="关闭"></i>
                            </a>
                        </td>
                        <td>
                            @item.Name
                        </td>
                        <td>
                            @item.Description
                        </td>
                        <td>
                            <gt:action-dropdownmenu>
                                <gt:action typeof="Link" asp-page="./edit" asp-route-id="@item.Id"><i class="bi-pencil"></i>编辑</gt:action>
                                <gt:action typeof="Divider"></gt:action>
                                <gt:action typeof="Delete" confirm="你确定要删除“@item.Title”吗？" asp-page-handler="Delete" asp-route-id="@item.Id"></gt:action>
                            </gt:action-dropdownmenu>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <gt:page class="page-center" asp-route-name="@Model.Query.Name" data="@Model.Items"></gt:page>
    </div>
</div>