@page
@model IndexModel
@{
    ViewData["Title"] = "后台管理";
    ViewBag.Current = "home";
    var types = new[] { "primary", "secondary", "success", "info", "warning", "danger", "light", "dark", "white" };
}

<div class="toolbar">
    <form method="get">
        <div class="input-group-append">
            <input type="text" class="form-control" />
            <button type="submit"><span class="bi-search"></span></button>
        </div>
    </form>
    <div>
        <div class="btn-group">
            <a class="btn-white btn active" .icon="bi-list-ul"></a>
            <a class="btn-white btn" .icon="bi-grid"></a>
        </div>
        <div class="btn-group">
            <a class="btn-danger btn"><span class="bi-plus"></span> 添加新内容</a>
        </div>
    </div>
</div>


<div class="table-responsive">
	<table class="table table-bordered table-striped table-hover data-list">
		<thead>
			<tr>
				<th class="checkbox"><input type="checkbox" onclick="$('.data-item').find('input[type=checkbox]').prop('checked', this.checked);" class="form-check-input" /></th>
				<th>序号</th>
				<th>时间</th>
				<th>结果</th>
				<th>登录</th>
				<th>操作</th>
			</tr>
		</thead>
		<tbody class="align-middle">
			@foreach (var item in types)
			{
				<tr class="data-item">
					<td class="checkbox"><input type="checkbox" value="@item" class="form-check-input" /></td>
					<td>
						item
					</td>
					<td>item</td>
					<td>item</td>
					<td><a _click="modal" asp-page="/Play" asp-route-id="@item"><span class="bi-camera-video-fill"></span></a></td>
					<td><a _click="modal" asp-page="./Edit" asp-route-id="@item">编辑</a></td>
				</tr>
			}
		</tbody>
	</table>
</div>

<i class="bi bi-chevron-right"></i>
<div class="text-center mb-4">
    @foreach (var type in types)
    {
        <button class="btn btn-@(type)">@type</button>
    }
</div>

<div class="text-center mb-4">
    @foreach (var type in types)
    {
        <button class="btn btn-outline-@(type)">@type</button>
    }
</div>

<div class="text-center mb-4">
    <div class="input-group-append mb-3">
        <input type="text" class="form-control" />
        <button><span class="bi-upload"></span></button>
    </div>
    <div class="input-group-prepend mb-3">
        <button><span class="bi-upload"></span></button>
        <input type="text" class="form-control" />
    </div>

    <div class="form-floating mb-3">
        <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
        <label for="floatingPassword">Password</label>
    </div>

    <select class="form-select mb-3">
        <option>第1个选项</option>
        <option>第2个选项</option>
        <option>第3个选项</option>
        <option>第4个选项</option>
    </select>
</div>

<div class="mb-4">
    <label class="form-check form-switch">
        <input type="checkbox" class="form-check-input" />
        表单
    </label>

    <!-- Without label-->
    <input type="checkbox" id="switch0" data-switch="none" />
    <label for="switch0" data-on-label="" data-off-label=""></label>

    <!-- Bool Switch-->
    <input type="checkbox" id="switch1" checked data-switch="bool" />
    <label for="switch1" data-on-label="On" data-off-label="Off"></label>

    <!-- Primary Switch-->
    <input type="checkbox" id="switch2" checked data-switch="primary" />
    <label for="switch2" data-on-label="On" data-off-label="Off"></label>

    <!-- Success Switch-->
    <input type="checkbox" id="switch3" checked data-switch="success" />
    <label for="switch3" data-on-label="Yes" data-off-label="No"></label>

    <!-- Info Switch-->
    <input type="checkbox" id="switch4" checked data-switch="info" />
    <label for="switch4" data-on-label="On" data-off-label="Off"></label>

    <!-- Warning Switch-->
    <input type="checkbox" id="switch5" checked data-switch="warning" />
    <label for="switch5" data-on-label="Yes" data-off-label="No"></label>

    <!-- Danger Switch-->
    <input type="checkbox" id="switch6" checked data-switch="danger" />
    <label for="switch6" data-on-label="On" data-off-label="Off"></label>

    <!-- Dark Switch-->
    <input type="checkbox" id="switch7" checked data-switch="secondary" />
    <label for="switch7" data-on-label="Yes" data-off-label="No"></label>

    <!-- Disbled Switch-->
    <input type="checkbox" id="switchdis" data-switch="primary" checked disabled />
    <label for="switchdis" data-on-label="On" data-off-label="Off"></label>
</div>

<div class="flex-row d-flex">
    <div class="mb-4">
        <div class="mb-3">
            <div class="form-check">
                <input type="radio" checked="checked" id="customRadio1" name="customRadio" class="form-check-input">
                <label class="form-check-label" for="customRadio1">Toggle this custom radio</label>
            </div>
            <div class="form-check">
                <input type="radio" id="customRadio2" name="customRadio" class="form-check-input">
                <label class="form-check-label" for="customRadio2">Or toggle this other custom radio</label>
            </div>
        </div>
        <div class="form-check mb-2">
            <input type="radio" id="customRadiocolor1" name="customRadiocolor1" class="form-check-input" checked>
            <label class="form-check-label" for="customRadiocolor1">Default Radio</label>
        </div>
        <div class="form-check form-radio-success mb-2">
            <input type="radio" id="customRadiocolor2" name="customRadiocolor2" class="form-check-input" checked>
            <label class="form-check-label" for="customRadiocolor2">Success Radio</label>
        </div>
        <div class="form-check form-radio-info mb-2">
            <input type="radio" id="customRadiocolor3" name="customRadiocolor3" class="form-check-input" checked>
            <label class="form-check-label" for="customRadiocolor3">Info Radio</label>
        </div>
        <div class="form-check form-radio-secondary mb-2">
            <input type="radio" id="customRadiocolor6" name="customRadiocolor6" class="form-check-input" checked>
            <label class="form-check-label" for="customRadiocolor6">Secondary Radio</label>
        </div>
        <div class="form-check form-radio-warning mb-2">
            <input type="radio" id="customRadiocolor4" name="customRadiocolor4" class="form-check-input" checked>
            <label class="form-check-label" for="customRadiocolor4">Warning Radio</label>
        </div>
        <div class="form-check form-radio-danger mb-2">
            <input type="radio" id="customRadiocolor5" name="customRadiocolor5" class="form-check-input" checked>
            <label class="form-check-label" for="customRadiocolor5">Danger Radio</label>
        </div>
        <div class="form-check form-radio-dark">
            <input type="radio" id="customRadiocolor7" name="customRadiocolor7" class="form-check-input" checked>
            <label class="form-check-label" for="customRadiocolor7">Dark Radio</label>
        </div>
    </div>

    <div class="mb-4">
        <div class="form-check mb-2">
            <input type="checkbox" class="form-check-input" id="customCheckcolor1" checked>
            <label class="form-check-label" for="customCheckcolor1">Default Checkbox</label>
        </div>
        <div class="form-check form-checkbox-success mb-2">
            <input type="checkbox" class="form-check-input" id="customCheckcolor2" checked>
            <label class="form-check-label" for="customCheckcolor2">Success Checkbox</label>
        </div>
        <div class="form-check form-checkbox-info mb-2">
            <input type="checkbox" class="form-check-input" id="customCheckcolor3" checked>
            <label class="form-check-label" for="customCheckcolor3">Info Checkbox</label>
        </div>
        <div class="form-check form-checkbox-secondary mb-2">
            <input type="checkbox" class="form-check-input" id="customCheckcolor6" checked>
            <label class="form-check-label" for="customCheckcolor6">Secondary Checkbox</label>
        </div>
        <div class="form-check form-checkbox-warning mb-2">
            <input type="checkbox" class="form-check-input" id="customCheckcolor4" checked>
            <label class="form-check-label" for="customCheckcolor4">Warning Checkbox</label>
        </div>
        <div class="form-check form-checkbox-danger mb-2">
            <input type="checkbox" class="form-check-input" id="customCheckcolor5" checked>
            <label class="form-check-label" for="customCheckcolor5">Danger Checkbox</label>
        </div>
        <div class="form-check form-checkbox-dark">
            <input type="checkbox" class="form-check-input" id="customCheckcolor7" checked>
            <label class="form-check-label" for="customCheckcolor7">Dark Checkbox</label>
        </div>
    </div>
</div>