@page
@model IndexModel
@{
    ViewBag.Title = "邮件配置";
    ViewBag.Current = AdminMenu.Settings;
}

<div class="gt-toolbar mb-3">
    <gt:toolbar-btn-group right="true">
        <a js-modal="click" asp-page="./Edit" .icon="fa-plus">添加配置</a>
    </gt:toolbar-btn-group>
</div>
<div class="table-responsive">
    <table class="table table-striped table-bordered data-view">
        <thead>
            <tr>
                <th>服务器名称(端口)</th>
                <th>用户名</th>
                <th>发送次数</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody class="data-content">
            @foreach (var setting in Model.Settings)
            {
                <tr>
                    <td>
                        @setting.SmtpServer (@setting.SmtpPort)
                        <span class="label alert alert-info" .visible="@setting.UseSsl">SSL</span>
                        @if (setting.Enabled)
                        {<label class="label alert alert-success">启用</label>}
                        else
                        {<label class="label alert alert-danger">禁用</label>}
                    </td>
                    <td>@setting.SmtpUserName</td>
                    <td>@setting.Count</td>
                    <td class="data-action">
                        <a js-modal="click" asp-route-id="@setting.Id" asp-page="./Edit" .icon="fa-pencil">编辑</a> 
                        <a js-action="post" asp-page-handler="Delete" asp-route-id="@setting.Id" .icon="fa-trash-o">删除</a>
                    </td>
                </tr>
            }
            <gt:warning-tabled colspan="4" attach="Model.Settings">还没有添加任何邮件配置信息！</gt:warning-tabled>
        </tbody>
    </table>
</div>