@page
@model IndexModel
@{
    ViewData["Title"] = "用户列表";
    ViewBag.Current = "users.index";
}

<div class="toolbar">
    <form method="get">
        <div class="input-group-append">
            <input asp-for="Query.Name" placeholder="请输入名称" type="text" class="form-control" />
            <button type="submit"><span class="bi-search"></span></button>
        </div>
    </form>
    <div>
        <div class="btn-group">
            <a _click="modal" asp-page="./Create" class="btn-primary btn"><span class="bi-plus"></span> 添加新用户</a>
        </div>
    </div>
</div>

<div class="card">
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-hover data-list">
                <thead>
                    <tr>
                        <th class="checkbox"><gt:checkall /></th>
                        <th .sort="@UserOrderBy.UserName">名称</th>
                        <th>邮件地址</th>
                        <th .sort="@UserOrderBy.CreatedDate">添加时间</th>
                        <th .sort="@UserOrderBy.UpdatedDate">更新时间</th>
                        <th .sort="@UserOrderBy.LastLoginDate">最后登录</th>
                        <th class="text-center">操作</th>
                    </tr>
                </thead>
                <tbody class="align-middle">
                    @foreach (var item in Model.Items)
                    {
                        <tr class="data-item">
                            <td class="checkbox"><gt:checkbox value="@item.Id" /></td>
                            <td>
                                @(item.NickName)(@(item.UserName))
                            </td>
                            <td>@item.Email</td>
                            <td>@item.CreatedDate.ToString("f")</td>
                            <td>@item.UpdatedDate.ToString("f")</td>
                            <td>@item.LastLoginDate?.ToString("f")</td>
                            <td>
                                <gt:action-dropdownmenu>
                                    <a _click="modal" asp-page="./Edit" asp-route-id="@item.Id"><span class="bi-pencil"></span>编辑</a>
                                    <a _click="modal" asp-page="./Password" asp-route-id="@item.Id"><span class="bi-key"></span>设置密码</a>
                                    <div class="dropdown-divider"></div>
                                    <a _click="action" _confirm="你确定要删除“@(item.NickName)”吗？" asp-page-handler="Delete" asp-route-id="@item.Id"><span class="bi-trash"></span>删除</a>
                                </gt:action-dropdownmenu>
                            </td>
                        </tr>
                    }
                    <gt:warning colspan="7" data="Model.Items">还没找到相关用户信息！</gt:warning>
                </tbody>
            </table>
        </div>
        <gt:page data="Model.Items" asp-route-name="@Model.Query.Name" orderby="Model.Query"></gt:page>
    </div>
</div>