@page
@model EditMenuModel
@{
    ViewBag.Title = "菜单";
    Layout = "_Modal";
}

<form method="post">
    <input type="hidden" asp-for="Input.Id" />
    <input type="hidden" asp-for="Input.CategoryId" />
    <div class="row">
        <div class="col-6">
            <div class="mb-3">
                <label class="form-label">名称（<small>使用英文字母</small>）</label>
                <input class="form-control" asp-for="Input.Name" />
                <span class="text-danger" asp-validation-for="Input.Name"></span>
            </div>
            <div class="mb-3">
                <label class="form-label">显示名称</label>
                <input class="form-control" asp-for="Input.DisplayName" />
            </div>
        </div>
        <div class="col-6 ps-0">
            <div class="mb-3">
                <label class="form-label">父级菜单</label>
                <gt:page-menu-dropdownlist cid="@Model.Input.CategoryId" asp-for="Input.ParentId" exclude="@Model.Input.Id" default-text="请选择父级菜单" default-value="0"></gt:page-menu-dropdownlist>
            </div>
            <div class="mb-3">
                <label class="form-label">显示模式</label>
                <gt:enum-dropdownlist asp-for="Input.DisplayMode"></gt:enum-dropdownlist>
            </div>
        </div>
    </div>
    <div class="mb-3">
        <label class="form-label">链接地址</label>
        <div class="input-group input-group-range">
            <input class="form-control" asp-for="Input.LinkUrl" />
            <gt:page-link-dropdownlist onchange="$(this).parent().find('input').val(this.value);" default-text="请选择网页地址" default-value="@Model.Input.LinkUrl" value="@Model.Input.LinkUrl"></gt:page-link-dropdownlist>
        </div>
    </div>
    <div class="mb-3">
        <label class="form-label">打开方式</label>
        <div class="input-group input-group-range">
            <gt:enum-dropdownlist onchange="if (this.value == '4') { $(this).parent().find('input').removeClass('hide'); } else {$(this).parent().find('input').addClass('hide');}" asp-for="Input.Target"></gt:enum-dropdownlist>
            <input placeholder="框架名称" class="form-control" .class-hide="@(Model.Input?.Target != OpenTarget.Frame)" asp-for="Input.FrameName" />
            <gt:enum-dropdownlist default-text="rel属性" asp-for="Input.Rel"></gt:enum-dropdownlist>
        </div>
    </div>
</form>