@page
@model IndexModel
@{
    Layout = "_Render";
}
@section tabs{
<gt:tab-header name="items" active="true">项目</gt:tab-header>
}

@section panes{
<gt:tab-content class="data-list p-3" name="items" active="true">
    <div class="toolbar pt-0">
        <gt:action-group>
            <gt:action typeof="Add" asp-page="./edit" asp-route-sid="@Model.Section!.Id">添加</gt:action>
            <gt:action typeof="Link" asp-page="../edit" asp-route-id="@Model.Section.Id" icon="Pencil">编辑</gt:action>
            <gt:action typeof="Delete" confirm="你确定要删除所选择滚动项目吗？" asp-page-handler="Delete"></gt:action>
            <gt:action href="#" typeof="Link" onclick="history.go(-1); return false;" icon="ReplyAll">返回</gt:action>
        </gt:action-group>
    </div>
    <table class="table" .warning="Model.Items" .warning-text="还没有添加任何滚动项目实例！">
        <thead>
            <tr>
                <th class="checkbox"><gt:checkall></gt:checkall></th>
                <th>标题</th>
                <th class="action">操作</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Items!)
            {
            <tr class="data-item">
                <td class="checkbox"><gt:checkbox value="@item.Id"></gt:checkbox></td>
                <td>
                    @item.Title
                    <i .visible="@(item.Disabled)" class="text-danger bi-lock" title="禁用"></i>
                </td>
                <td>
                    <gt:action-dropdownmenu>
                        <gt:action typeof="Edit" asp-page="./edit" asp-route-id="@item.Id"></gt:action>
                        <gt:action typeof="Delete" confirm="你确定要删除“@item.Title”吗？" asp-page-handler="Delete" asp-route-id="@item.Id"></gt:action>
                    </gt:action-dropdownmenu>
                </td>
            </tr>
            }
        </tbody>
    </table>
</gt:tab-content>
}