@{
    Layout = "_Global";
}

<div class="navbar d-print-none">
    <div class="logo">
        <a asp-page="/admin/index" asp-area="">
            <img src="~/projects/images/logo.svg" alt="云顶创联" />
            <h1>云顶创联</h1>
        </a>
    </div>
    <gt:menu class="nav js-menu" provider="admin"></gt:menu>
</div>
<div class="mini-bg"></div>
<main>
    <header class="d-print-none">
        <i js-toggle="navbar" class="navbar-trigger fa fa-indent"></i>
        <ul class="right navbar-nav">
        </ul>
    </header>
    <div class="main">
        <div class="header" .visible="@(ViewBag.HideHeader != true)">
            <div class="header-container">
                <gt:menu-navigator class="d-print-none" home="控制面板" href="@Url.Page("/admin/index")" provider="admin"></gt:menu-navigator>
                @*<h1 class="title">@ViewBag.Title</h1>*@
                @if (ViewBag.Description != null)
                {
                    <div class="summary">@Html.Raw(ViewBag.Description)</div>
                }
                @RenderSection("summary", false)
            </div>
        </div>
        <div class="main-container">
            @RenderBody()
        </div>
    </div>
    <footer>
        &copy; @DateTime.Now.Year 云顶创联
    </footer>
</main>

@section header{
    <link rel="stylesheet" href="~/projects/css/site.css" />
    @RenderSection("header", false)
}

@section footer{
    <script src="~/projects/js/site.js"></script>
    @RenderSection("footer", false)
}